*{
  padding: 0.3%;
  font-family: Arial, Helvetica, sans-serif;
}
.singularComps div{
    border: 1px solid rgb(232, 231, 231);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.203);
    border-radius: 7px;
    margin-right: 3%;
    display: inline-flex;
    padding: 2%;
    flex-direction: column;
    gap: 10px;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}